#containerHomeSupervisor {
    height: 4rem;
    background-color: white;
}

#logoImg {
    width: 10rem;
    height: 5rem;
    margin-top: auto;
    color: #1979FF;
}

.rowHomeSupervisor {
    align-items: center;
    height: fit-content;
}

.dashboardIcon {
    width: 5rem;
    height: 5rem;
}

#navContainer {
    width: 100%;
    margin-top: 0;
}

.smallIcon {
    width: 25px;
    height: 25px;
}

.graphicsArea {
    margin: 50px;
}

.btnClose {
    background-color: #717171;
    margin: 0px;
    border-radius: 50px;
    border: 0px;
    color: white;
}

.dashboardTitle {
    font-size: 3rem;
}

.btnReject {
    background-color: red;
}

.btn {
    border-radius: 25px;
}