#loginImg {
    width: 100%;
    height: 100%;
}

.rowLogin {
    height: 100%;
}

.containerLogin {
    max-width: 100%;
    height: 100vh;
    padding: 0px;
}

body {
    background-color: #F3F3F3;
}

body, html {
    height: 100%;
}

.form-label {
    font-weight: bold;
}

h1, h3, .form-label, a {
    color: #66CCC5;
}

a {
    display: block;
}

.btn-primary {
    background-color: #51177D;
    stroke: 0px;
    border-radius: 50px;
    margin: 20px 0px;
}

h1 {
    margin: 20px 0px 0px 0px;
}

.form-control {
    width: 90%;
}

.colLogin {
    margin: 10px;
}

hr {
    width: 5rem;
    border-width: 5px;
}

.alertMessage {
    color: red;
}

#forgot-password-a {
    color: #66CCC5;
    text-decoration: underline;
    cursor: pointer;
}