
.dashboardButtonMonitorist {
    background-color: #1979FF;
    width: 27rem;     
    height: 8.5rem;     
    border-radius: 1.5rem;      
    color:white ;         
    margin:1rem auto;
    padding: 10px;    
}

.btn-save-monitoris {
    background-color: #51177D;
    stroke: 0px;
    border-radius: 50px;
    align-items: center;    
    margin-top: 1rem; 
}