
.dashboardButton {
    background-color: #1979FF;
    width: 27rem;     
    height: 8.5rem;     
    border-radius: 1.5rem;      
    color:white ;     
    margin:1rem auto;
    padding: 10px;  
}

.divSeparator {
    border-left: 1px solid white;
    height: 7.5rem;                
}


.imgNav {
    width: 10rem;
    height: 5rem;
    margin-top: auto;
}

.imgInformation {
    width: 5rem;
    height: 5rem;    
}

.rowTecnical  { 
    height: fit-content;            
    align-items: center;             
    
}

#containerNav{
    max-width: 100%;    
}

/* .modal {
    --bs-modal-width: 800px;
} */

.btn-warning {
    background-color: #FFE500;
    border: 0px;
    color: #222D51;
}



.btn-tecnical {
    background-color: #51177D;
    stroke: 0px;
    border-radius: 50px;
    align-items: center;
    margin-left: 2rem;
    margin-top: 1rem;
}